        <header>
            <ul>
                <div class="header-left">
                <li><a class="btnnav-home" href="/">Home</a></li>
                <li><a class="btnnav-telemedicine" href="/telemedicine">Telemedicine</a></li>
                <li><a class="btnnav-article" href="/article">Artikel</a></li>
                <li><a class="btnnav-contact" href="/contact">Kontak</a></li>
                </div>
            <div class="header-right">
              <% if Current.user%>
                <li><p> <a href="/login">Hello <%= Current.user.username %> !</p></a></li>
              <% else %>
              <li><a class="login" href="/login">Login</a></li>
              <% end %>
            </div>
            </ul>
        </header>