
<html>
    <head>
        <meta charset="utf-8">
        <title>Telemedicine</title>
        <link rel="stylesheet" href="diagnoses.css">
    </head>
    <body>
        <%= render "header"%>
        <div class="top-wrapper-diagnoses">
            <div class="title">
                <h3>Mental Health Test</h3>
                <h4>Dalam 2 Minggu terakhir, bagaimana kondisi anda sesuai dengan pertanyaan di bawah</h4>
            </div>
        </div>
        <div class="question-container">
            <div>
                <%= render "form", post: @diagnoses %>
            </div>
    </body>
</html>
