
  <html>
      <head>
        <meta charset="utf-8">
        <title>Telemedicine</title>
        <link rel="stylesheet" href="/stylesheet/article.css">
    </head>
    <body>
        <%= render "header"%>
        <div id="articles-container">
            <div class="article-wrapper">
                <h2>Baca artikel <span>Kesehatan Mental</span></h3>
                <div class="articlecard">
                    <% @articles.each do |article| %>
                    <div class="acard-home">
                        <div class="acardbottom">
                            <h3><%= article.title %></h3>
                            <h4><%= article.author %></h4>
                        <%# <%= link_to "Show this article", article, class: "btn-read" %> %>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </body>
  </html>